p {
    font-family: Georgia, serif;
    line-height: 1.6;
    font-size: 20px;
    color: #3d3c2b;
}

a {
    text-decoration: none;
}

a:link {
    color: #1b019b;
}

a:hover {
    color: #c9e734;
}

a:visited {
    color: #e73e01;
}

body {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: 70px;
    margin-right: 10px;
    background : linear-gradient(#88cc80, #acd0a4);
    background-image: url("https://img.freepik.com/vecteurs-libre/fond-vague-blanche-lisse_52683-55288.jpg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: cover;
    
    
}

.farmer {
    border-color: #9b6477;
    width: 45%;
    font-size: 160%;
    background-color: #ebebeb;
    border-left-style: solid;
    border-width: 3px;
    border-spacing: 30px;
    padding-left: 30px;
}

.neighbors {
    border-color: #ffff00;
    width: 45%;
    font-size: 160%;
    background-color: #ebebeb;
    border-left-style: solid;
    border-width: 3px;
    border-spacing: 30px;
    padding-left: 30px;
}

h1 {
    background-color: yellow;
}

blockquote {
    font-style: italic;
}

.good {
    text-transform: uppercase;
    color: green;
}

.bad {
    text-transform: uppercase;
    color: red;
}

tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}

#list li:nth-child(1) {
    background-image: url(bien.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 25px;
}

#list li:nth-child(2) {
    background-image: url(mal.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 25px;
}

#list li:nth-child(3) {
    background-image: url(chat.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 25px;
}

#firstpara p:nth-child(1) {
    font-weight: bold;
}